.skills{
    padding-top: 80px;
    .skills_container{
        padding: 10vh 0;
    }
}

.skills_card_container{
    border: 1px solid  rgb(213, 213, 213);
    width: 40%;
    background-color: rgb(232, 232, 232);
    border-radius: 15px;
    min-height: 35vh;
    display: grid;
    grid-template-rows: .2fr .8fr;
    padding: 6px 12px 12px 12px;
    background-color: #d4d0d0;

    
    .skills_card_title{
        font-size: 20px;
        color: var(--title-color-dark);
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 8px;

    }
    .skills_text{
        margin-left: 20%;
        display: flex;
        /* justify-content: center; */
        align-items: center;
        font-family: var(--about-me-font);
        
    }
    .qualification_icon::before{
        padding-right: 10px;
    }
    .skills_body{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto-fill, 1fr);
        height: 100%;

    
    }
}
.skills_title{
    text-align: center;
    font-size: 2.5rem;
}
.title_description{
    text-align: center;

}
.skills_container{

    display: flex;
    gap: 50px;
    justify-content: center;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .skills_text{
        margin-left: 5% !important;
    }
    .skills_card_container{
        width: 50%;
    }

}

@media screen and (max-width: 768px) {
    .skills{
        padding-top: 3rem;
    }
    .skills_container{
        display: flex;
        gap: 50px;
        flex-direction: column;
        align-items: center;
    }
    .skills_card_container {
        width: 90%;
    }

}
.download_button{
    color: white;
    text-decoration: none;
    padding: 1% 1.5rem;
    display: inline-flex;
    align-items: center;
}
.download_button_icon{
    margin-left: 12px;
    font-size: 28px;
}
.download_btn_wrapper{
    display: flex;

}