.about{
    display: grid;
    align-items: center;
}
.description_container{
    display: flex;
    justify-content: center;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center the content horizontally */
    justify-content: center; /* Center the content vertically */
    gap: 20px; /* Add spacing between the .about_container and the button */
}
.about_title{
    display: grid;

    justify-content: center;
    padding-bottom: 5rem;
    .section_title{
        font-size: 2.5rem;
    }
}
.about_container{
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Optional: gap between grid items */
    
}
.about_img_description_1_wrapper{
    display: flex;
    flex-direction: row-reverse;
    gap: 40px;
    justify-content: center;
}
.about_img{
    background: url(../../assets/about_headshot.png);
    /* background: url(../../assets/image.jpg); */

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* width: 100%; */
    flex-basis: 40%;
    height: 300px;
    order: 1;
    justify-self: center;
    border-radius: 40px;
}
.description_sentence_1{
    flex-basis: 100%;
    flex-basis: 60%;
 }
 
.description_sentence_2{
   flex-basis: 100%;
}

.download_button{
    flex-basis: 30%;
    text-align: center;
}

@media screen and (max-width: 768px){
    .about_section_container{
        padding-top: 3rem ;
        padding-bottom: 3rem;
    }
    .about_title{
        display: grid;
    
        justify-content: center;
        padding-bottom: 2rem;
        .section_title{
            font-size: 1.5rem;
        }
    }

    .description_container{
        display: flex;
        justify-content: center;
        flex-direction: column; 
        align-items: center; 
        justify-content: center; 
        gap: 20px; /* Add spacing between the .about_container and the button */  
        .about_container{
            width: 90vw;
            .about_img_description_1_wrapper{
                display: grid;
                flex-direction: row;
                .about_img{
                    background: url(../../assets/about_headshot.png);
                    /* background: url(../../assets/image.jpg); */
                
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    width: 150px;
                    /* flex-basis: 40%; */
                    height: 150px;
                    justify-self: center;
                    border-radius: 40px;
                    grid-row: 1;
                }
              
                .description_sentence_1{
                    flex-basis: 100%;
                    flex-basis: 60%;
                 }
            }
            
        }
    }

}