.about{
    padding-top: 80px;
    color: var(--text-color);
}
.description_sentence_3{
    font-size: 18px;
    font-weight: 500;
}
.description_sentence_1{
    font-size: 18px;
    font-weight: 500;
}
.description_container{
    display: flex;
    justify-content: center;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center the content horizontally */
    justify-content: center; /* Center the content vertically */
    gap: 20px; /* Add spacing between the .about_container and the button */
    margin-bottom: 50px;
}
.about_title{
    display: grid;

    justify-content: center;
    padding-bottom: 5rem;
    .section_title{
        font-size: 2.5rem;
    }
}
.about_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Optional: gap between grid items */
    
}
.about_img_description_1_wrapper{
    /* display: flex; */
    flex-direction: row-reverse;
    gap: 40px;
    justify-content: center;
}
.about_img{
    background: url(../../assets/HeadshotPro.svg);
    /* background: url(../../assets/image.jpg); */

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* width: 100%;
    height: 100%; */
    flex-basis: 30%;
    height: 240px;
    order: 1;
    justify-self: center;
    border-radius: 40px;
    object-fit: cover;
    /* aspect-ratio: 2/3; */
}
.description_sentence_1{
    font-family: var(--about-me-font );
    flex-basis: 100%;
    flex-basis: 70%;
    letter-spacing: .3px;
 }
 
.description_sentence_3{
    font-family: var(--about-me-font );
    letter-spacing: .3px;
    flex-basis: 100%;
}

.download_button{
    flex-basis: 30%;
    text-align: center;
}
.about_carousel_wrapper h5{
    text-align: center;
    padding-bottom: 15px;
}
@media screen and (max-width: 768px){
    
    .description_sentence_3{
        font-size: 16px;
        letter-spacing: 0px;

    }
    .description_sentence_1{
        font-size: 16px;
        letter-spacing: 0px;

    }
    .about{
        padding-top: 0;
    }
    .about_section_container{
        padding-top: 3rem ;
        padding-bottom: 3rem;
    }
    .about_title{
        display: grid;
    
        justify-content: center;
        padding-bottom: 2rem;
        .section_title{
            font-size: 1.5rem;
        }
    }

    .description_container{
        display: flex;
        justify-content: center;
        flex-direction: column; 
        align-items: center; 
        justify-content: center; 
        gap: 20px; /* Add spacing between the .about_container and the button */  
        .about_container{
            width: 90vw;
            .about_img_description_1_wrapper{
                display: grid;
                flex-direction: row;
                .about_img{
                    background: url(../../assets/HeadshotPro.svg);
                    /* background: url(../../assets/image.jpg); */
                
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    /* width: 30vw; */
                    /* flex-basis: 40%; */
                    /* height: 30vh; */
                    aspect-ratio: 1;
                    justify-self: center;
                    border-radius: 40px;
                    grid-row: 1;
                }
              
                .description_sentence_1{
                    flex-basis: 100%;
                    flex-basis: 60%;
                 }
            }
            
        }
    }

}