#banner{
    font-family: "IBM Plex Mono", monospace;
}
#banner-headshot {
    width: 250px;
    height: 250px;
    border-radius: 50px;
    display: flex;
}
#banner-headshot-img{
    /* width: 250px;
    height: 250px; */
    border-radius: 50px;

        width: 100%; 
        height: auto; 

}
#intro-description{
    display: grid;
    row-gap: 10px;
}
.banner_container{
    margin: 0;
}