.home_container{
  padding-top: 5rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.home_container svg{
margin-left: 100px;
}
.home_content{
    grid-template-columns: 116px repeat(2, 1fr);;
    /* padding-top: 5.5rem; */
    column-gap: 2rem;
    align-items: center;

}
.hone_description{
  max-width: 400px;
  margin-bottom: var(--mb-3);
}
.home_img {
  background: url(../../assets/HeadshotPro.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 330px;
  height: 300px;
  order: 1;
  justify-self: center;
  animation: morph 8s ease-in-out infinite 1s;
  transition: border-radius 0.1s ease-out;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
}


@keyframes morph {
    0% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }
    100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
}



.home_social{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: fit-content;

}
.home_social-icon {
    font-size: 1.8rem;
    color: var(--title-color);
    transition: transform 0.2s ease, color 0.1s ease; 
}

.home_social-icon:hover {
    transform: scale(1.5);
    color: var(--title-color-dark);
}
.home_title{
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-0-25);
}

.home_subtitle{
    position: relative;
    font-size: var(--h3-font-size);
    padding-left: 3.4rem;
    font-weight: var(--font-normal);
    margin-bottom: var(--mb-1);

}
.home_subtitle::before{
    content: '';
    position: absolute;
    width: 50px;
    height: 1px;
    background-color: var(--text-color);
    left: 0;
    top: 1rem;
}
.home_subtitle::before{
  content: '';
  position: absolute;
  width: 50px;
  height: 1px;
  background-color: var(--text-color);
  right: 0;
  top: 1rem;
}
.home_description{
    max-width: 400px;
    margin: var(--mb-3);
}

.home_scroll{
  /* margin-left: 9.25rem; */
}
.home_scroll-name{
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-right: var(--mb-0-25);
  margin-left: 2px;

}
.home_scroll-button svg {
  padding-left: 5px;
  animation: bounce 2.5s infinite; 
}


@keyframes bounce {
  0%, 100% {
    transform: translateY(4.5px); /* Start and end at original position */
  }
  50% {
    transform: translateY(-6px); /* Move up by 20px */
  }
}
@media screen and (min-width: 555px) and (max-width: 768px){
  .home_img {

    width: 250px !important;
    height: 200px !important ;
}
}

/* between 768 and 860 push the social media links and banner together */
@media screen and (min-width: 768px) and (max-width: 860px){
  .home_content{
    /* grid-template-columns: 100px 1fr .7fr; */
    grid-template-columns: 25px 1fr .7fr !important;
    grid-template-rows: .5fr 1.1fr !important;
    column-gap: 1.25rem !important;
  }

}
/* anything bigger than 768 */
@media screen and (min-width: 768px) {
  .home_content{
    /* margin-top: 10rem; */
    grid-template-columns: 100px 1fr .7fr;
    grid-template-rows: .5fr 1.1fr;
    column-gap: 1.25rem;
  }
  .hello_button{
    width: 200px;
    background-color: #0c0d0d;
  }
  .home_data{
    display: grid ;
    row-gap: 30px ;
  }

  .home_subtitle{
    padding-left: 3.75rem;
    margin-bottom: var(--mb-1);
  }
  .home_subtitle::before{
    width: 42px;
    top: .8rem;
  }
  .home_description {
    max-width: initial;
    margin-bottom: var(--mb-2-5);
  }
  .home_img{
    width: 280px;
    height: 250px;
  }
  .home_scroll{
    grid-column: 2; /* Place in the 2nd column */
    grid-row: 2;    /* Place in the 2nd row */
  }

}
@media screen and (max-height: 670px){
  #home {
    padding: 0;
  }
  .home_content{
    grid-template-columns: 50px 1fr;
    grid-template-rows: 1fr 1fr .1fr;
  }
}
@media screen and (min-height: 671px) and (max-height: 800){
  #home {
    padding: 0;
  }
  .home_content{
    grid-template-columns: 50px 1fr;
    grid-template-rows: 1fr 1fr .5fr !important;
  }
}
@media screen and (max-width: 768px){
  .home_container{
    display: grid;
    justify-content: flex-start;
    padding-top: 2.5rem;
    grid-template-rows: .1fr 1fr;
  }
  .home_container svg {
    margin-left: 0;
}
  .home_content{
    grid-template-columns: 10px 1fr;
    grid-template-rows: .3fr .4fr .2fr;
    column-gap: .5rem;
    padding-top: 0rem;
  }
  .home_img{
    grid-row: 1;    /* Place in the 2nd row */
    grid-column: 2; /* Place in the 2nd column */
    width: 220px;
    height: 200px;
  }
  .home_data{
    grid-row: 2;
    grid-column: 2
  }
  .home_scroll{

    grid-row: 3;
    grid-column: 2

  }
  .hello_button{
    width: 200px;
    background-color: #0c0d0d;
  }
  .home_data{
    display: grid ;
    row-gap: 30px ;
  }
  /*
.home_data{
  display: grid ;
  row-gap: 30px ;

}
.hello_button{
  width: 200px;
  background-color: #0c0d0d;
} */


}

/* For medium devices */
@media screen and (max-width: 768px) {

  /* .home_content{
    grid-template-columns: 50px repeat(2, 1fr);
    column-gap: 1rem;
  }
  .home_data{
    display: grid ;
    row-gap: 30px ;
  
  }
  .hello_button{
    width: 200px;
    background-color: #0c0d0d;
  }
   */
  /* .home_content{
    grid-template-columns: .5fr .3fr;
    padding-top: 3.5rem;
  }

  .home_subtitle{

  }
  .home_subtitle::before{

  }
  .home_description {

  }
  .home_img{
    width: 200px;
    height: 200px;
  }
  .home_scroll{
    margin-left: 7.5rem;
  } */
}

@media screen and (max-width: 576px) {

}

/* For small devices */
/* @media screen and (max-width: 350px) {
  :root {
    --big-font-size: 2.25rem;
  }

  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }
} */























/* button hover amazing effect -----------------------------*/
.button_contact {
    position: absolute;
    /* display:block; */
    /* top: 50%; */
    /* left: 50%; */
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    /* line-height: 2; */
    color: var( --title-color);
    font-size: 30px;
    font-family: verdana;
    letter-spacing: 4px;
  
    /* use combination of any two */
    /* 1. */
    /* padding: 5px; */
  
    /* 2. */
    padding-left: 5px;
    /* padding-right: 5px; */
  }
  .button_contact:hover{
    cursor: pointer;
  }
  
  .button_contact::before,
  .button_contact::after,
  .button_contact_span::before,
  .button_contact_span::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background: transparent;
    transition: 1s;
    /* -webkit-mix-blend-mode: hue; */
  }
  
  .button_contact::before {
    top: -2px;
    left: -2px;
    border-top: 2px solid var( --title-color);
    border-left: 2px solid var( --title-color);
  }
  .button_contact::after {
    top: -2px;
    right: -2px;
    border-top: 2px solid var( --title-color);
    border-right: 2px solid var( --title-color);
  }
  
  .button_contact_span::before {
    bottom: -2px;
    left: -2px;
    border-bottom: 2px solid var( --title-color);
    border-left: 2px solid var( --title-color);
  }
  .button_contact_span::after {
    bottom: -2px;
    right: -2px;
    border-bottom: 2px solid var( --title-color);
    border-right: 2px solid var( --title-color);
  }
  
  
  .button_contact:hover::before,
  .button_contact:hover::after,
  .button_contact:hover .button_contact_span::before,
  .button_contact:hover .button_contact_span::after  {
    width: calc( 180px / 2);
    height: calc( 50px / 2);
  }
  /* button hover amazing effect -----------------------------*/
