.header {
    width: 100%;
    position: fixed;
    /* bottom: 50; */
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: rgb(232, 232, 232);
    /* background-color: var(--body-color); */

}


.nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
}
.nav_logo, .nav_toggle {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav_list{
    display: flex;
    column-gap: 2rem;
}
.nav_close, .nav_toggle, .nav_icon{
    display: none;
}
.nav_link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
    transition: 1s;
}

/* active link */
.active-link, .nav_link:hover{
    /* color: var(--title-color-dark); */
    color: rgb(236, 58, 58);
}

/* breakpoints */
@media screen and (max-width: 768px) {
    .header{
        top: 0;
        bottom: initial;
    }
    .nav{
        height: var(--header-height);
    }
    .nav_menu{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 1px 4px rgba(0, 0, 0, .15); /* Adjust shadow to appear below the menu */
        border-radius: 0 0 1.5rem 1.5rem; /* Rounded corners at the bottom */
        transition: .25s;
    }

    /* show menu */
    .show_menu{
        top: 0;
    }
    .nav_list {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 2rem;
    }
    .nav_icon{
        font-size: 1.2rem;
    }
    .nav_item{
        grid-column: span 2;
    }
    .nav_item:nth-child(4) {
        grid-column: 2 / 4; /* Starts at column 2 and ends just before column 4 (spans columns 2 and 3) */
    }
    
    .nav_item:nth-child(5) {
        grid-column: 4 / 6; /* Starts at column 4 and ends just before column 6 (spans columns 4 and 5) */
    }

    .nav_close{
        position: absolute;
        right: 1.3rem;
        bottom: .5rem;
        font-size: 1.5rem;
        cursor: pointer;
        color: var(--title-color);
    }
    .nav_close:hover{
        color: var(--title-color-dark);
    }
    .nav_toggle{
        font-size: 1.1rem;
        cursor: pointer;
    }
    .nav_close, .nav_toggle, .nav_icon{
        display: block;
    }
}

/* smaller screen  */

@media screen and (max-width: 350px){
    .nav_menu{
        padding: 2rem 0 4rem;
    }
    .nav_list{
        column-gap: 0;
    }
}